.dark {
    background-color: black;
    main{
        background-color: #43464b;
    }


    #search-block {

        background-color: #43464b;
        border: 1px solid #3b3e42;
        
    }

    .navbar {
        border-bottom: 1px solid #3b3e42;
    }
}