
.pokemoncard{
    display: flex;
    flex-direction: column;
    border : {
        color : red;
        width: 2%;
        style : solid;
    }

    h2{
        a{
            text-decoration: none;
            color: black;
        }
    }

    img{
        width: 180px;
    }
}