.search-container {
    position: relative;
}

#search-block {
    text-align: center;
    margin-left: 6%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    top: 20px;
    width: 85%;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: max-height 0.5s ease-out;
}

.search-block form {
    display: flex;
    flex-direction: column;
}

.search-block input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.search-block input[type="number"],
.search-block select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.search-block input[type="submit"] {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

#toggle-advanced-search {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.advanced-search {
    display: none;
    margin-top: 10px;
}

.advanced-search.hidden {
    display: none;
}

.advanced-search.visible {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    label {
        margin-left: 1%;
    }

    input {
        border: 2px solid transparent;
        border-radius: 8px;
        outline: none;
        background-color: #f3f3f4;
        color: #616872;
        transition: .3s ease;
        font-weight: bold;
        margin-bottom: 1%;
       }
       
       input::placeholder {
        color: #9e9ea7;
       }
       
       input:focus, input:hover {
        outline: none;
        border-color: rgba(81, 138, 203, 0.4);
        background-color: #fff;
        box-shadow: 0 0 0 4px rgba(81, 138, 203, 0.129);
       }
}

.hidden {
    display: none;
}


.searchbutton {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}