body {
  margin: 0;
  font-family: Arial, sans-serif;
}
body .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
}
body .navbar .dark {
  background-color: #333;
  color: #fff;
}
body .navbar img {
  height: 50px;
}
body .navbar .left-section, body .navbar .right-section {
  display: flex;
  align-items: center;
}
body .navbar .toggle-darkmode {
  margin-right: 20px;
  cursor: pointer;
}
body .navbar input[type=text] {
  padding: 5px;
  margin-right: 20px;
}
body .navbar.dark .profile {
  background-color: #555;
}

body {
  background-color: #f1f1f1;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  font-weight: bold;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
header img {
  height: 60px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 10px 0 0;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
nav ul li .active {
  color: #fecd43;
}

.form-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container,
.register-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-container h2,
.register-container h2 {
  margin-bottom: 20px;
}

.login-container form,
.register-container form {
  display: flex;
  flex-direction: column;
}

.login-container label,
.register-container label {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-container input,
.register-container input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-container button,
.register-container button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover,
.register-container button:hover {
  background-color: #555;
}

.Create_One {
  text-decoration: none;
  color: #ffc62a;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f4f4f4;
}
body .dashboard {
  display: flex;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 87vh;
  width: 94vw;
  /* Modal */
}
body .dashboard .left-panel, body .dashboard .right-panel {
  padding: 20px;
}
body .dashboard .left-panel {
  width: 30%;
  text-align: center;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body .dashboard .left-panel .redim-avatar-admin {
  border-radius: 50%;
  transform: scale(0.5);
  height: 235px;
}
body .dashboard .left-panel .github-logo {
  width: 15%;
}
body .dashboard .left-panel .informations-dashboard {
  margin-bottom: 8%;
}
body .dashboard .left-panel .informations-dashboard div p {
  padding-top: 2%;
}
body .dashboard .left-panel .informations-dashboard div img {
  padding-top: 4%;
}
body .dashboard .admin-name {
  margin: 0;
}
body .dashboard .admin-grade {
  color: #888;
}
body .dashboard .right-panel {
  width: 70%;
}
body .dashboard .right-panel .logo_pokemon {
  display: flex;
  justify-content: space-around;
  margin-bottom: 9%;
}
body .dashboard .right-panel .logo_pokemon img {
  width: 50%;
}
body .dashboard .right-panel .right-panel-button {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 8%;
}
body .dashboard .right-panel .container-h2-right {
  display: flex;
  justify-content: space-around;
}
body .dashboard .button {
  background-color: #007bff;
  color: #fff;
  padding: 15px;
  margin: 10px 0;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
body .dashboard .button:hover {
  background-color: #0056b3;
}
body .dashboard .info {
  background-color: #28a745;
  color: #fff;
  padding: 15px;
  margin: 10px 0;
  text-align: center;
  border-radius: 5px;
}
body .dashboard .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
body .dashboard .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}
body .dashboard .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
body .dashboard .close:hover, body .dashboard .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

main {
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.pokemoncard {
  text-align: center;
  max-width: 100%;
  background-color: #d4d4d4;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
}
.pokemoncard img {
  width: 100px;
  margin-bottom: 10px;
}
.pokemoncard .types {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.pokemoncard .pokemonName {
  font-size: 18px;
  margin-bottom: 10px;
}

.pagination {
  list-style-type: none;
  padding: 10px 0;
  display: inline-flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.pagination li {
  box-sizing: border-box;
  padding-right: 10px;
}
.pagination li a {
  box-sizing: border-box;
  background-color: #e2e6e6;
  padding: 8px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #616872;
  border-radius: 4px;
}
.pagination li a:hover {
  background-color: #d4dada;
}
.pagination .next a, .pagination .pagination .prev a {
  text-transform: uppercase;
  font-size: 12px;
}
.pagination .currentpage a {
  background-color: #518acb;
  color: #fff;
}
.pagination .currentpage a:hover {
  background-color: #518acb;
}

.goto {
  box-sizing: border-box;
  background-color: #e2e6e6;
  padding: 8px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #616872;
  border-radius: 4px;
  cursor: pointer;
}
.goto:hover {
  background-color: #d4dada;
}

.pokemon-list {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(3, 60%);
  grid-template-rows: repeat(5, 20%);
  margin-left: 5%;
}

.pokemonName {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.pokemon-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-image {
  width: 200px;
  height: 200px;
}

.types {
  margin-bottom: 20px;
}

.type {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}

.type.grass {
  background-color: #78C850;
}

.type.poison {
  background-color: #A040A0;
}

.type.fire {
  background-color: #F08030;
}

.type.water {
  background-color: #6890F0;
}

.type.electric {
  background-color: #F8D030;
}

.type.ice {
  background-color: #98D8D8;
}

.type.fighting {
  background-color: #C03028;
}

.type.ground {
  background-color: #E0C068;
}

.type.flying {
  background-color: #A890F0;
}

.type.psychic {
  background-color: #F85888;
}

.type.bug {
  background-color: #A8B820;
}

.type.rock {
  background-color: #B8A038;
}

.type.ghost {
  background-color: #705898;
}

.type.dragon {
  background-color: #7038F8;
}

.type.dark {
  background-color: #705848;
}

.type.steel {
  background-color: #9999a8;
}

.type.fairy {
  background-color: #EE99AC;
}

.type.normal {
  background-color: #B8B8D0;
}

.stats {
  width: 100%;
  margin-bottom: 30px;
}

.stat {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.stat span {
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

.bar {
  background-color: #ddd;
  border-radius: 5px;
  width: 100%;
  height: 20px;
  margin-right: 10px;
  overflow: hidden;
}

.fill {
  background-color: #1c154e;
  height: 100%;
  text-align: right;
  line-height: 20px;
  color: white;
}

.evolution {
  margin-top: 30px;
}

.evolution-chain {
  display: flex;
  justify-content: space-around;
}

.evolution-stage {
  text-align: center;
}

.evolution-stage img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.evolution-stage p {
  margin-top: 10px;
  font-weight: bold;
}

.search-container {
  position: relative;
}

#search-block {
  text-align: center;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  top: 20px;
  width: 85%;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: max-height 0.5s ease-out;
}

.search-block form {
  display: flex;
  flex-direction: column;
}

.search-block input[type=text] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.search-block input[type=number],
.search-block select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.search-block input[type=submit] {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

#toggle-advanced-search {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: none;
  font-size: 16px;
  margin-top: 10px;
}

.advanced-search {
  display: none;
  margin-top: 10px;
}

.advanced-search.hidden {
  display: none;
}

.advanced-search.visible {
  display: block;
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */
